a {
    color: #40bfff;
}

a:hover {
    color: #0099e6;
}

.bg-primary {
    background-color: #40bfff !important;
}

.elevatorpitch {
    position: relative;
    top: 56px;
    height: 100vh;
    color: white;
}
#elevatorpitch-bg{
    position: absolute;

    background-image: url('img/health-2082630.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}